.volimeImage{
    width:680px;
    height: 850px;
}
.carte{
    background-image: url("./../img/noir.png");
    background-size:cover;
    width: 100px;
    height: 160px;
   
    /* position: absolute ; */
    margin-bottom: 230px; 
}
#tirane{
    background-image: url("./../img/tirane.png");
    transform: rotateX(30deg);
    background-size: 100% 100%;

}